.fondoPrincipal {
  /* background-image: url('../public/image/fondo.jpg'); */
  background: url("/image/fondo.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor p {
  color: #fff;
  font-size: 24px;
  display: block;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.tamanioCarrusel{
  width: 50%;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.colorFondo{
  background-color: darkslategrey;
}

@media (min-width: 775px) {
  .d-25 {
    width: 25%;
  }

  .d-75 {
    width: 75%;
  }
}

.contenedorCarrusel2 {
  width: 100%;
  padding: 50px 10px;
  background: #3f2844;
  opacity: 0.8;
  display: grid;
  text-align: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 296px 75px 296px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "img3 versus img4"
    "nombre3 versus nombre4";
}

.contenedorPV{
  display: flex;
  flex-direction: column;
}